*{
    font-family: 'Raleway', sans-serif;
}

/*********** Header ***********/
header{
    margin-bottom: 150px;
}

/*Nav*/
nav{
    width: 100%;
    padding: 30px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    height: 35px;
    cursor: pointer;
}
.nav-ul{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.nav-ul li{
    margin-left: 35px;
}
.nav-ul a{
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}
/*Header Content*/
.header-content{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.header-content img{
    width: 40%;
}
.header-content > div{
    width: 50%;
}
.head{
    font-size: 40px;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 30px;
}
.under-head{
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 25px;
    color: hsl(243, 87%, 12%);
}
.header-form input[type=mail]{
    width: 52%;
    padding: 12px 10px;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 3px;
    outline: none;
    margin-right: 25px;
}
.header-form input[type=submit]{
    padding: 13px 0;
    width: 31%;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: hsl(224, 93%, 58%);
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
}
::placeholder{
    color: rgb(118, 118, 118);
    font-size: 14px;
    text-transform: lowercase;
}
.header-form input:hover, .header-form input:active{
    outline: none;
}
@media (min-width: 750px) and (max-width: 1000px){
    header .head{
        font-size: 33px;
    }
    header .under-head{
        font-size: 16px;
    }
    .header-content div{
        width: 55%;
    }
    .header-form input[type=mail]{
        width: 62%;
    }
    .header-form input[type=submit]{
        width: 30%;
    }

}
@media(max-width: 749px){
    nav img{
        height: 25px;
    }
    .nav-ul li{
        margin-left: 15px;
    }
    .nav-ul li a{
        font-size: 12px;
    }
    header .head{
        font-size: 22px;
        text-align: center;
        text-align-last: center;
    }
    header .under-head{
        font-size: 13px;
    }
    .header-content{
        justify-content: center;
        padding-top: 30px;
    }
    .header-content div{
        width: 90%;
    }
    .header-content img{
        margin-top: 70px;
        width: 90%;
        margin-bottom: 50px;
    }
    .header-form input[type=mail]{
        width: 100%;
        margin: 0% auto;
        margin-bottom: 20px;
    }
    .header-form input[type=submit]{
        width: 100%;
        margin: 0% auto;
    }
}
/****** Content-section ******/
.content{
    background: url("../images/bg-curve-desktop.svg") no-repeat;
    background-size: 100%;
    padding-top: 7%;
}
.content > section{
    padding-top: 80px;
    background-color: #f8f8fe;
}
.content-section{
    padding-bottom: 60px;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: center;
}
.content-section img{
    width: 35%;
}
.content-div{
    width: 55%;
}
.content-div{
    display: flex;
    flex-flow: row wrap;
}
.content-div > p{
    width: 100%;
    margin-bottom: 33px;
}
.content-div > div:first-of-type{
    width: 80%;
}
.content .under-head{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
}
.content-div > div:first-of-type div a{
    color: hsl(170, 45%, 43%);
    font-size: 17px;
    font-weight: 500;
}
.content-div > div:first-of-type div{
    width: 190px;
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-div > div:first-of-type div::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: hsl(170, 45%, 43%);
}
.content-div i{
    color: hsl(170, 45%, 43%);
    margin-left: 5px;
}
.card{
    background-color: #FFF;
    width: 60%;
    padding: 40px;
    line-height: 2;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    border-radius: 10px;
}
.card blockquote{
    width: 100%;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
}
.card i{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 18px;
    color:hsl(243, 87%, 12%)
}
blockquote + div{
    width: 68%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.card:last-child img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

blockquote + div div h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: -6px;
}
blockquote + div div p{
    font-size: 12px;
}
@media(max-width: 950px){
    .content-section{
        justify-content: center;
    }
    .content-section > img{
        width: 80%;
        margin-bottom: 100px;
    }
    .content-div{
        width: 100%;
        justify-content: center;
    }
    .content-div > p{
        font-size: 25px;
        text-align: center;
    }
    .content .under-head{
        font-size: 14px;
    }
    .content-div > div:first-of-type div{
        margin: 35px auto 60px auto;
    }
    .card{
        width: 90%;
        height: 260px;
        padding: 38px 22px 0px 22px;
    }
    .card blockquote{
        font-size: 14px;
    }
    blockquote + div{
        width: 100%;
        align-items: center;
        height: 18%;
        margin-top: 10px;
    }
    .card:last-child img{
        width: 40px;
    }
    .content-div > div:first-of-type{
        width: 100%;
    }

}
/**** contact ****/
.contact{
    background-color: #575989;
    padding: 100px 0;
}
.contact .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFF
}
.contact .container div{
    width: 50%;
}
.contact .container div h2{
    font-size: 30px;
    margin-bottom: 20px;
}   
.contact .container div p{
    width: 80%;
    font-size: 15px;
    line-height: 1.7;
}
.contact .container form{
    width: 40%;
}
.contact input[type=mail]{
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}
.contact input[type=submit]{
    padding: 13px 30px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
}
@media(max-width: 770px){
    .contact .container {
        justify-content: center;
    }
    .contact .container div{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .contact .container form{
        text-align: center;
        width: 90%;
    }
    .contact input[type=submit]{
        width: 100%;
    }
    .contact input[type=mail]{
        width: 100%;
    }
    .contact .container div p{
        width: 100%;
    }
}
/**** footer ****/
footer{
    background-color: hsl(243, 87%, 12%);
    padding: 50px 0;
    position: relative;
}
footer .container {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #FFF
}
footer .container > div{
    width: 30%;
}
footer div:first-of-type > div {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
}
footer .container section{
    width: 59px;
    height: 40px;
    background: url("../images/logo.svg") no-repeat;
    position: relative;
    margin-bottom: 30px;
    background-size: auto 100%;
}
footer .container section::after{
    content: "fylo";
    position: absolute;
    right: -88px;
    top: -7px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}
footer div:first-of-type i{
    margin-right: 10px;
}

footer div:first-of-type img{
    height: 40px;
    margin-bottom: 20px;
}
footer .container > div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
footer .container > div:nth-of-type(2) ul li{
    margin-bottom: 20px;
    font-size: 15px;
}
footer .container > div:nth-of-type(3){
    display: flex;
    justify-content: center;
    align-self: center;
}
footer .container > div:nth-of-type(3) div{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-right: 15px;
    cursor: pointer;
}
.attribution{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    width: 80%;
    font-size: 10px;
    text-align: center;
}
@media (max-width: 850px){
    footer{
        padding-bottom: 0;
    }
    footer .container{
        justify-content: center;
        height: 500px;
    }
    footer .container > div{
        width: 100%;
        margin-bottom: 60px;
    }
    footer .container > div:nth-of-type(2){
        justify-content: flex-start;
    }
    footer ul{
        margin-right: 50px;
    }
}